{% extends 'figma-base-1.html' %}
{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>

.dropdown {
  float: right;
  margin-right: 115px;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #ff0000;
  font-family: inherit;
  margin: 0;
}

.dropbtn:hover {
  cursor: pointer;
}

.dropdown:hover {
  background-color: #ff7b7b;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ff0000 !important;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-transition: opacity .3s ease-in;
  -moz-transition: opacity .3s ease-in;
  -o-transition: opacity .3s ease-in;
  transition: opacity .3 ease-in;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ff7b7b;
}

.show {
  display: block;
  z-index: 11;
}  

</style>

<script>
  function openCity(evt, cityName) {  
    var i;  var x = document.getElementsByClassName('city');  
    var nav_button_1 = document.getElementById('nav_button_1');  
    var nav_button_2 = document.getElementById('nav_button_2');  
    console.log(evt) 
    console.log(cityName)  
    var progress2 = document.querySelector('.progress2')  
    if (cityName == 'Run'){    
      progress2.style.marginLeft = '65px';    
      nav_button_2.style.color = '#ADB5BD';   
      nav_button_1.style.color = '#6C757D';   
      nav_button_1.style.borderColor = 'transparent';    
      nav_button_2.style.borderColor = 'transparent';    
      nav_button_2.style.outline = 'thick solid #121010';    
      nav_button_1.style.outline = 'thick solid #121010';  
    } 
    else{    
      progress2.style.marginLeft = '0px';   
      nav_button_1.style.color = '#ADB5BD';    
      nav_button_2.style.color = '#6C757D';    
      nav_button_1.style.borderColor = 'transparent';    
      nav_button_2.style.borderColor = 'transparent';    
      nav_button_2.style.outline = 'thick solid #121010';    
      nav_button_1.style.outline = 'thick solid #121010';  
      }  
    for (i = 0; i < x.length; i++) 
    {    x[i].style.display = 'none';  } 
    document.getElementById(cityName).style.display = 'block';}
</script>
<div id="main_width" class="main_width">
    <div class="project_a_outer">
        <div class="project_a_inner">
            <div class="navigation_menu" id="navigation_menu">
                <ul class="navigation_tabs" id="navigation_tabs">
                    <!--                        <li class="tab_inactive">-->
                    <!--                            <a href="#">Project Details</a>-->
                    <!--                        </li>-->
                    <li class="tab_active">
                        <a href="#" style="color:#ADB5BD">Project Details</a>
                    </li>
                    <li class="tab_active">
                        <a href="#" style="color:#6C757D;">Project Duration</a>
                    </li>
                    <li class="tab_active">
                        <a href="#" style="color:#6C757D;">Project Details</a>
                    </li>
                    <li class="tab_active" >
                        <a href="#" style="color:#6C757D;">Project Roles</a>
                    </li>
                    <li class="tab_active">
                        <a href="#" style="color:#6C757D;">Direct Impact Parameters</a>
                    </li>
                    <li class="tab_active">
                        <a href="#" style="color:#6C757D;">Indirect Impact Parameters</a>
                    </li>
                    <li class="tab_active">
                        <a href="#" style="color:#ADB5BD">Load Plan</a>
                    </li>
                    <li class="tab_active" style="display:none">
                        <a href="#" style="color:#6C757D;">Build Phase</a>
                    </li>
                    <li class="tab_active"  style="display:none">
                        <a href="#" style="color:#6C757D;">Run Phase</a>
                    </li>
                    <li class="tab_active">
                        <a href="#" style="color:#ADB5BD">Direct Impact</a>
                    </li>
                    <li class="tab_active">
                        <a href="#" style="color:#ADB5BD">Indirect Impact</a>
                    </li>
                    <!--                        <li class="tab_disabled">-->
                    <!--                            <a href="#">Indirect Impact</a>-->
                    <!--                        </li>-->
                </ul>
            </div>
        </div>

    </div>
    <div class="di_heading">
        Direct Impact 
      <p class="di_subhead">People - Daily Commute</p> 
      <p class="di_para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>    
    </div> 
    <div class="w3-bar static-font" style="margin-top: -15px; font-weight: 400; font-size: 16px;margin-left: 270px;">
      <button id="nav_button_1" class="btn  tablink w3-bottombar" onclick="openCity(event, 'Build');"  style="color: #ADB5BD; border:none; background-color:transparent">Build</button>
      <button id="nav_button_2" class="btn  w3-bottombar" onclick="openCity(event, 'Run');" style="color: #6C757D; border:none; background-color:transparent">Run</button>
      <div class="progress1">
          <div class="progress2">
              <hr class="line" size="3" width="100%" color="#6C757D">
          </div>
      </div>
    </div>
    <div class="di_view city" id="Build" style="display: block;margin-left:270px;width: auto;margin-top: 5px;">
        <div class="di_wrapper">
          <table class="di_table">
            <thead>
                <tr>
                    <th class="di_first-col-fix di_fixed-col">Roles</th>
                    <th class="di_cell_th">Type of Transport</th>
                    <th class="di_cell_th">Kms/Day</th>
                    <th class="di_cell_th">Avg No. of Days from office per week </th>
                    <th class="di_cell_th">Vehicle Ownership</th> 
                </tr>
            </thead>
            <tbody>
              <tr>
                <td class="di_first-col-fix di_fixed-col">Product Owner</td>
                <td class="di_cell"><select class="di_select">
                  <option class="di_option" value="0">Bicycle</option>
                  <option class="di_option" value="1">Skateboard</option>
                  <option class="di_option" value="1">Lorem Ipsum</option></select>
                  </td>
                <td class="di_cell">20</td>
                <td class="di_cell">5</td>
                <td class="di_cell"><select class="di_select">
                  <option value="0">Company</option>
                  <option value="1">Owned</option>
                </select>

                </td>
              </tr>
              <tr>
                <td class="di_first-col-fix di_fixed-col">Proxy PO</td>
                <td class="di_cell"><select class="di_select">
                  <option class="di_option" value="0">Bicycle</option>
                  <option class="di_option" value="1">Skateboard</option>
                  <option class="di_option" value="1">Lorem Ipsum</option></td>
                <td class="di_cell">20</td>
                <td class="di_cell">5</td>
                <td class="di_cell"><select class="di_select">
                  <option value="0">Company</option>
                  <option value="1">Owned</option></td>
              </tr>
              <tr>
                <td class="di_first-col-fix di_fixed-col">IT Leader 1</td>
                <td class="di_cell"><select class="di_select">
                  <option class="di_option" value="0">Bicycle</option>
                  <option class="di_option" value="1">Skateboard</option>
                  <option class="di_option" value="1">Lorem Ipsum</option></td>
                <td class="di_cell">20</td>
                <td class="di_cell">5</td>
                <td class="di_cell"><select class="di_select">
                  <option value="0">Company</option>
                  <option value="1">Owned</option></td>
              </tr>
              <tr>
                <td class="di_first-col-fix di_fixed-col">IT Leader 2</td>
                <td class="di_cell"><select class="di_select">
                  <option class="di_option" value="0">Bicycle</option>
                  <option class="di_option" value="1">Skateboard</option>
                  <option class="di_option" value="1">Lorem Ipsum</option></td>
                <td class="di_cell">20</td>
                <td class="di_cell">5</td>
                <td class="di_cell"><select class="di_select">
                  <option value="0">Company</option>
                  <option value="1">Owned</option></td>
              </tr>
              <tr>
                <td class="di_first-col-fix di_fixed-col">IT Front</td>
                <td class="di_cell"><select class="di_select">
                  <option class="di_option" value="0">Bicycle</option>
                  <option class="di_option" value="1">Skateboard</option>
                  <option class="di_option" value="1">Lorem Ipsum</option></td>
                <td class="di_cell">20</td>
                <td class="di_cell">5</td>
                <td class="di_cell"><select class="di_select">
                  <option value="0">Company</option>
                  <option value="1">Owned</option></td>
              </tr>
              <tr>
                <td class="di_first-col-fix di_fixed-col">Dir. Data Science</td>
                <td class="di_cell"><select class="di_select">
                  <option class="di_option" value="0">Bicycle</option>
                  <option class="di_option" value="1">Skateboard</option>
                  <option class="di_option" value="1">Lorem Ipsum</option></td>
                <td class="di_cell">20</td>
                <td class="di_cell">5</td>
                <td class="di_cell"><select class="di_select">
                  <option value="0">Company</option>
                  <option value="1">Owned</option></td>
                
              </tr>
              <tr>
                <td class="di_first-col-fix di_fixed-col">Project Manager</td>
                <td class="di_cell"><select class="di_select">
                  <option class="di_option" value="0">Bicycle</option>
                  <option class="di_option" value="1">Skateboard</option>
                  <option class="di_option" value="1">Lorem Ipsum</option></td>
                <td class="di_cell">20</td> 
                <td class="di_cell">5</td>
                <td class="di_cell"><select class="di_select">
                  <option value="0">Company</option>
                  <option value="1">Owned</option></td>
              </tr>
              
            </tbody>
          </table>
        </div>
        
    </div>
    <!---------------------Run Table  ------------------------>
    <div id="Run" class="di_view city" style="display:none;margin-left:270px;width: auto;margin-top: 5px;">
      <div class="di_wrapper">
        <table class="di_table">
          <thead>
              <tr>
                  <th class="di_first-col-fix di_fixed-col">Roles</th>
                  <th class="di_cell_th">Type of Transport</th>
                  <th class="di_cell_th">Kms/Day</th>
                  <th class="di_cell_th">Avg No. of Days from office per week </th>
                  <th class="di_cell_th">Vehicle Ownership</th> 
              </tr>
          </thead>
          <tbody>
            <tr>
              <td class="di_first-col-fix di_fixed-col">Product Owner</td>
              <td class="di_cell"><select class="di_select">
                <option class="di_option" value="0">Bicycle</option>
                <option class="di_option" value="1">Skateboard</option>
                <option class="di_option" value="1">Lorem Ipsum</option></select>
                </td>
              <td class="di_cell">20</td>
              <td class="di_cell">5</td>
              <td class="di_cell"><select class="di_select">
                <option value="0">Company</option>
                <option value="1">Owned</option>
              </select>

              </td>
            </tr>
            <tr>
              <td class="di_first-col-fix di_fixed-col">Proxy PO</td>
              <td class="di_cell"><select class="di_select">
                <option class="di_option" value="0">Bicycle</option>
                <option class="di_option" value="1">Skateboard</option>
                <option class="di_option" value="1">Lorem Ipsum</option></td>
              <td class="di_cell">20</td>
              <td class="di_cell">5</td>
              <td class="di_cell"><select class="di_select">
                <option value="0">Company</option>
                <option value="1">Owned</option></td>
            </tr>
            <tr>
              <td class="di_first-col-fix di_fixed-col">IT Leader 1</td>
              <td class="di_cell"><select class="di_select">
                <option class="di_option" value="0">Bicycle</option>
                <option class="di_option" value="1">Skateboard</option>
                <option class="di_option" value="1">Lorem Ipsum</option></td>
              <td class="di_cell">20</td>
              <td class="di_cell">5</td>
              <td class="di_cell"><select class="di_select">
                <option value="0">Company</option>
                <option value="1">Owned</option></td>
            </tr>
            <tr>
              <td class="di_first-col-fix di_fixed-col">IT Leader 2</td>
              <td class="di_cell"><select class="di_select">
                <option class="di_option" value="0">Bicycle</option>
                <option class="di_option" value="1">Skateboard</option>
                <option class="di_option" value="1">Lorem Ipsum</option></td>
              <td class="di_cell">20</td>
              <td class="di_cell">5</td>
              <td class="di_cell"><select class="di_select">
                <option value="0">Company</option>
                <option value="1">Owned</option></td>
            </tr>
            <tr>
              <td class="di_first-col-fix di_fixed-col">IT Front</td>
              <td class="di_cell"><select class="di_select">
                <option class="di_option" value="0">Bicycle</option>
                <option class="di_option" value="1">Skateboard</option>
                <option class="di_option" value="1">Lorem Ipsum</option></td>
              <td class="di_cell">20</td>
              <td class="di_cell">5</td>
              <td class="di_cell"><select class="di_select">
                <option value="0">Company</option>
                <option value="1">Owned</option></td>
            </tr>
            <tr>
              <td class="di_first-col-fix di_fixed-col">Dir. Data Science</td>
              <td class="di_cell"><select class="di_select">
                <option class="di_option" value="0">Bicycle</option>
                <option class="di_option" value="1">Skateboard</option>
                <option class="di_option" value="1">Lorem Ipsum</option></td>
              <td class="di_cell">20</td>
              <td class="di_cell">5</td>
              <td class="di_cell"><select class="di_select">
                <option value="0">Company</option>
                <option value="1">Owned</option></td>
              
            </tr>
            <tr>
              <td class="di_first-col-fix di_fixed-col">Project Manager</td>
              <td class="di_cell"><select class="di_select">
                <option class="di_option" value="0">Bicycle</option>
                <option class="di_option" value="1">Skateboard</option>
                <option class="di_option" value="1">Lorem Ipsum</option></td>
              <td class="di_cell">20</td> 
              <td class="di_cell">5</td>
              <td class="di_cell"><select class="di_select">
                <option value="0">Company</option>
                <option value="1">Owned</option></td>
            </tr>
            
          </tbody>
        </table>
      </div>
      
    </div>
    <div id="footer"> 
        <button type="submit" class="nebtn" style="width:120px;border-radius:4px; "><b  style="width:110px;">SAVE & CONTINUE</b></button>
    </div>


    
</div>
{% endblock %}
</html>