{% extends 'figma-base-1.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="multiselect.css" rel="stylesheet">

<style>
table {
  font-family: ubuntu;
  width: 70%;
  color: #ADB5BD;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border-radius: none;
  border-collapse: collapse;
  border-spacing: 0 5px;
}
td {
  text-align: left;
  padding: 15px;
  border-radius: 3px;
<!--  background: #1A1D23;-->
  background: #23272E;
  width:239.25px;

}
th {
  text-align: left;
  padding: 15px;
  width:239.25px;
  border-radius: 3px;


<!--  background: #1A1D23;-->
  background: #23272E;
}
tr:nth-child() {
  background: #23272E;
  width:239.25px;
  margin-top:100px;
  border-radius: none;
}
</style>

<style>
th, td {
  border-style: ridge;
  border-radius: 2px;
  border: 1px solid white;
}
th, td {
  background-color: #96D4D4;
}
</style>


<style>
    input:focus, textarea:focus, select:focus{
        outline: none;
        border: none;
    }
</style>


<script>
function myNameSearchFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById('name_search_id');
  filter = input.value.toUpperCase();
  table = document.getElementById('myTable');
  tr = table.getElementsByTagName('tr');
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName('td')[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = '';
      } else {
        tr[i].style.display = 'none';
      }
    }
  }
}
</script>

<script>
function CategorySearchFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById('name_search_id_category');
  console.log(input.value);
  filter = input.value.toUpperCase();
  table = document.getElementById('myTable');
  tr = table.getElementsByTagName('tr');
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName('td')[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = '';
      } else {
        tr[i].style.display = 'none';
      }
    }
  }
}
</script>

<script>
function SubCategorySearchFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById('name_search_id_subcategory');
  console.log(input.value);
  filter = input.value.toUpperCase();
  table = document.getElementById('myTable');
  tr = table.getElementsByTagName('tr');
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName('td')[3];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = '';
      } else {
        tr[i].style.display = 'none';
      }
    }
  }
}
</script>

<script>
function TypeOfImpactSearch(id) {
  var get_id = id
  if(id =='direct_impact_filter') {

  }
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById('name_search_id_subcategory');
  console.log(input.value);
  filter = input.value.toUpperCase();
  table = document.getElementById('myTable');
  tr = table.getElementsByTagName('tr');
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName('td')[3];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = '';
      } else {
        tr[i].style.display = 'none';
      }
    }
  }
}
</script>

<script>
    function openCity(evt, cityName) {
      var i;
      var x = document.getElementsByClassName('city');
      var nav_button_1 = document.getElementById('nav_button_1');
      var nav_button_2 = document.getElementById('nav_button_2');
      console.log(evt)
      console.log(cityName)
      var progress3 = document.querySelector('.progress3')
      if (cityName == 'Run'){
        progress3.style.marginLeft = '180px';
        nav_button_2.style.color = '#ADB5BD';
        nav_button_1.style.color = '#6C757D';
        nav_button_1.style.borderColor = 'transparent';
        nav_button_2.style.borderColor = 'transparent';
        nav_button_2.style.outline = 'thick solid #121010';
        nav_button_1.style.outline = 'thick solid #121010';
      } else{
        progress3.style.marginLeft = '0px';
        nav_button_1.style.color = '#ADB5BD';
        nav_button_2.style.color = '#6C757D';
        nav_button_1.style.borderColor = 'transparent';
        nav_button_2.style.borderColor = 'transparent';
        nav_button_2.style.outline = 'thick solid #121010';
        nav_button_1.style.outline = 'thick solid #121010';
      }
      for (i = 0; i < x.length; i++) {
        x[i].style.display = 'none';
        console.log(x.length)
      }
      console.log('In')
      document.getElementById(cityName).style.display = 'block';
    }

    function openPhase(evt, phase) {
      var x = document.getElementsByClassName('city');
      var nav_button_3 = document.getElementById('nav_button_3');
      var nav_button_4 = document.getElementById('nav_button_4');
      var Direct = document.getElementById('Direct');
      var Indirect = document.getElementById('Indirect');
      console.log(phase)
      if (phase == 'Indirect'){
        nav_button_4.style.color = '#ADB5BD';
        nav_button_3.style.color = '#6C757D';
        Direct.style.display = 'none';
        Indirect.style.display = 'block';
      } else{
        nav_button_3.style.color = '#ADB5BD';
        nav_button_4.style.color = '#6C757D';
        Direct.style.display = 'block';
        Indirect.style.display = 'none';
      }
    }


</script>
<script>
    function addNewRole(){
        var new_role_add_div = document.getElementById('new_role_add_div')

        if (new_role_add_div.style.display === 'none'){
            new_role_add_div.style.display = 'block';
        }
        else{
            new_role_add_div.style.display = 'none';
        }
    }
</script>
<script>
    var delete_id = 0;
    function deleteRow(id){
        console.log('deleteRow id: ', id);
        delete_id = id;
    }

    function myDeleteFunction(){
        console.log('Delete function called with id: ', delete_id)
        window.location.href = '{% url 'delete_row_custom_emission_library' %}' + '?delete_id='+delete_id;
    }
</script>
<script>
    function myEditFunction(){
        var new_role_edit_div = document.getElementById('new_role_edit_div');
        var temp_list = {{ temp_list| safe}}
        console.log(temp_list)
        console.log('This id needs to be deleted', delete_id);

        var edit_name = document.getElementById('edit_name');
        var edit_toi = document.getElementById('edit_toi');
        var edit_cat = document.getElementById('edit_cat');
        var edit_subcat = document.getElementById('edit_subcat');
        var edit_ef = document.getElementById('edit_ef');

        var edit_unit = document.getElementById('edit_unit');
        var edit_life = document.getElementById('edit_life');
        var edit_phase_ef = document.getElementById('edit_phase_ef');
        var edit_lifespan = document.getElementById('edit_lifespan');
        var edit_carbon = document.getElementById('edit_carbon');
        var edit_project_ef = document.getElementById('edit_project_ef');

        if(new_role_edit_div.style.display==='none'){
            new_role_edit_div.style.display = 'block';
            for(var i=0; i<temp_list.length; i++){
                if(temp_list[i].carbonid==delete_id){
                    edit_name.value = temp_list[i].name;
                    edit_toi.value = temp_list[i].typeofimpact;
                    edit_cat.value = temp_list[i].category;
                    edit_subcat.value = temp_list[i].subcategory;
                    edit_ef.value = temp_list[i].emissionfactor;
                    edit_unit.value = temp_list[i].uni;
                }
            }
        }
        else{
            new_role_edit_div.style.display = 'none';
        }
    }
</script>
<style>
/* Designing for scroll-bar */
::-webkit-scrollbar {
    width: 6px;
    height: 5px;
    position: sticky;
    top:0;
}
</style>
<body>
<div id="main_width" class="main_width scroll " style="overflow-y : auto;">
    <div style="width:50%; float:left; text-align:start;  margin-top:20px; margin-left:57px;">
        <button type="button" onclick="history.back()" style="display: none; color:Black; font-size: 10px; font-family:'ubuntu'" id="back-btn" ></button>
        <a href="#" style="color:#4FAFA2; font-size: 10px; font-family:'ubuntu'"><img src="static/assets/img/back_button.png" style="margin-right:10px;" onclick="document.getElementById('back-btn').click()"  alt="Back"/>BACK TO LAST PAGE</a>
    </div>

    <!---------------------------------------------Emission Factors Library--------------------------------------->
    <div class="header_div_1" style="margin-top:30px;">
        <div class="header_project_a" style="width:100%;">
            <div>
                <h3 style="font-size:32px; font-family: 'Ubuntu'; font-weight: 500;">Emission Factors Library</h3>
                <div class="paragraph" style="top:50px; font-size: 14px; font-family: 'Ubuntu'; font-weight: 400; width: 815px;">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>

        <div class="w3-bar static-font" style="width: 70%;margin-left: 10px; margin-top: 100px; font-weight: 400; font-size: 16px; line-height: 20px;">
            <div style="position:absolute;  width:90%; float:left">
                <button id="nav_button_1" class="btn btn-outline-secondary tablink w3-bottombar" onclick="openCity(event, 'Build');"  style="color: #ADB5BD; border:none; background-color:transparent" name="build" value="0">Pre-defined Library</button>
                <button id="nav_button_2" class="btn btn-outline-secondary tablink w3-bottombar" onclick="openCity(event, 'Run');" style="color: #6C757D; border:none; background-color:transparent" name="run" value="1">Company’s X Library</button>
            </div>
            <div style=" width:100%; text-align:end;">
                <button class="btn btn-outline-secondary tablink w3-bottombar" onclick="openCity(event, 'customise');" style="color: #6C757D; border:none; background-color:transparent" name="customise" value="1"><p class="customize_button"></p></button>
            </div>
            <div class="progress1" style="width: 150%;">
                <div class="progress3">
                    <hr class="line" size="3" width="100%" color="#6C757D">
                </div>
            </div>
        </div>

        <div id="Build" class="w3-container city " style="overflow-x:auto; width:94%;  display:block; ">
            <table class="table table-bordered" style="margin-top: 20px; border-style: ridge; border: 1px solid white;" id="myTable">
              <thead>
                <tr style="height: 30px; height: 100px; border: 1px solid; border-color:#34373D;  background-color: #23272E; color: #CED4DA">
                  <th scope="col">
                      <div style="margin-bottom: 20px;">
                        Name
                      </div>
                      <div class="search_box" style="right:5px; margin-bottom: 5px; ">
                            <input class="input_search_1" id="name_search_id" onkeyup="myNameSearchFunction()" type="text" placeholder="Search..." name="search" style="background-color: transparent">
                            <img src="static/assets/img/search_Icon.png">
                      </div>
                  </th>
                  <th scope="col">
                      <div style="margin-bottom: 20px;">
                        Type of Impact
                      </div>
                      <div style="right:5px; width: 260px; margin-bottom: 5px; ">
                            <button id="direct_impact_filter" class="btn btn-outline-secondary tablink w3-bottombar" onclick="TypeOfImpactSearch(this.id)"  style="font-size: 12px; color: #ADB5BD; width:40%; box-sizing: border-box; border-radius: 50px; border: 1px solid #6C757D; background: #34373D;" name="direct" value="0" >Direct Impact</button>
                            <button id="indirect_impact_filter" class="btn btn-outline-secondary tablink w3-bottombar" onclick="TypeOfImpactSearch(this.id)" style="font-size: 12px; color: #ADB5BD; width:40%; box-sizing: border-box; border-radius: 50px; border: 1px solid #6C757D; background: #34373D;" name="indirect" value="1">Indirect Impact</button>
                      </div>
                  </th>
                  <th scope="col">
                      <div style="margin-bottom: 20px;">
                        Category
                      </div>
                      <div class="search_box" style="right:5px; margin-bottom: 5px; ">
                            <input class="input_search_1" id="name_search_id_category" onkeyup="CategorySearchFunction()" type="text" placeholder="Search..." name="search" style="background-color: transparent">
                            <img src="static/assets/img/search_Icon.png">
                      </div>
                  </th>
                  <th scope="col">
                      <div style="margin-bottom: 20px;">
                        Sub-category
                      </div>
                      <div class="search_box" style="right:5px; margin-bottom: 5px; ">
                            <input class="input_search_1" id="name_search_id_subcategory" onkeyup="SubCategorySearchFunction()" type="text" placeholder="Search..." name="search" style="background-color: transparent">
                            <img src="static/assets/img/search_Icon.png">
                      </div>
                  </th>
                    <th scope="col">
                      <div style="margin-bottom: 20px;">
                        Emission factor (KgCO2e per unit)
                      </div>
                  </th>
                    <th scope="col">
                      <div style="margin-bottom: 20px;">
                        Unit
                      </div>
                  </th>
                    <th scope="col">
                      <div style="margin-bottom: 20px;">
                        Lifecycle Stage Included
                      </div>
                      <div class="search_box" style="right:5px; margin-bottom: 5px; ">
                            <input class="input_search_1" id="name_search_id7" onkeyup="myNameSearchFunction()" type="text" placeholder="Search..." name="search" style="background-color: transparent">
                            <img src="static/assets/img/search_Icon.png">
                      </div>
                  </th>
                    <th scope="col">
                      <div style="margin-bottom: 20px;">
                        Use Phase emission factor (Kg CO2e)
                      </div>
                      <div class="search_box" style="right:5px; margin-bottom: 5px; ">
                            <input class="input_search_1" id="name_search_id8" onkeyup="myNameSearchFunction()" type="text" placeholder="Search..." name="search" style="background-color: transparent">
                            <img src="static/assets/img/search_Icon.png">
                      </div>
                  </th>
                    <th scope="col">
                      <div style="margin-bottom: 20px;">
                        Lifespan (Years)
                      </div>
                      <div class="search_box" style="right:5px; margin-bottom: 5px; ">
                            <input class="input_search_1" id="name_search_id9" onkeyup="myNameSearchFunction()" type="text" placeholder="Search..." name="search" style="background-color: transparent">
                            <img src="static/assets/img/search_Icon.png">
                      </div>
                  </th>
                    <th scope="col">
                      <div style="margin-bottom: 20px;">
                        Carbon footprint per
                        day (KgCO2eq/day)
                      </div>
                  </th>
                </tr>
              </thead>
              <tbody>
              {% for i in emission_library_list %}
                <tr>
                      <td style="color: #CED4DA; background-color: #1A1D23">{{i.name}}</td>
                        <td style="color: #CED4DA; background-color: #1A1D23">{{i.typeofimpact}}</td>
                        <td style="color: #CED4DA; background-color: #1A1D23">{{i.category}}</td>
                        <td style="color: #CED4DA; background-color: #1A1D23">{{i.subcategory}}</td>
                        <td style="color: #CED4DA; background-color: #1A1D23">{{i.emissionfactor}}</td>
                        <td style="color: #CED4DA; background-color: #1A1D23">Parameter</td>
                        <td style="color: #CED4DA; background-color: #1A1D23">{{i.lifespanyrs}}</td>
                        <td style="color: #CED4DA; background-color: #1A1D23">{{i.carbonfootprintperday}}</td>
                        <td style="color: #CED4DA; background-color: #1A1D23">{{i.unit}}</td>
                        <td style="color: #CED4DA; background-color: #1A1D23">Parameters</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>
        <div id="Run" class="w3-container city"  style="width:95%; overflow-x: auto; display:none; text-align: center; margin-top:20px; height: 400px;">
            <div>
                <div class="Add_new_row" style="margin-left:15px;">
                    <button class="content_button_row" onclick="addNewRole()" type="button">+ ADD ROW</button>
                </div>
                <div class="delete_row" style="background-color: black;">
                    <a class="delete_button_row" onclick="myDeleteFunction()" type="submit">- DELETE ROW</a>
                </div>
                <div class="delete_row" style="background-color: black; margin-left: 145px;">
                    <a class="delete_button_row" onclick="myEditFunction()" type="submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EDIT ROW</a>
                </div>
            </div>

            <form method="POST" action="custom_add_data">
                {% csrf_token %}
                <div style="height: 50px; margin-top: 60px; display: none;" id="new_role_add_div">
                    <table class="table table-bordered">
                          <tr>
                            <th><div style="width: 156px; height: 20px;"><input placeholder="Name" name="custom_name" style="width: 130px; text-decoration: none; background-color: transparent; color: white; outline: none; border: none;"></div></th>
                            <th><div style="width: 260px;"><input placeholder="Type of Impact" name="custom_type_of_impact" style="width: 240px; text-decoration: none; background-color: transparent; color: white; outline: none; border: none;"></div></th>
                            <th><div style="width: 160px;"><input placeholder="Category" name="custom_category" style="width: 140px;  text-decoration: none; background-color: transparent; color: white; outline: none; border: none;"></div></th>
                              <th><div style="width: 154px;"><input placeholder="Sub-Category" name="custom_subcategory" style="width: 130px; text-decoration: none; background-color: transparent; color: white; outline: none; border: none;"></div></th>
                            <th><div style="width: 57px;"><input placeholder="Emission Factor" name="custom_emission_factor" style="width: 40px; text-decoration: none; background-color: transparent; color: white; outline: none; border: none;"></div></th>
                            <th><div style="width: 70px;"><input placeholder="Unit" name="custom_unit" style="width: 50px; text-decoration: none; background-color: transparent; color: white; outline: none; border: none;"></div></th>
                              <th><div style="width: 155px;"><input placeholder="Lifecycle Stage" name="custom_lifecycle" style="width: 130px; text-decoration: none; background-color: transparent; color: white; outline: none; border: none;"></div></th>
                            <th><div style="width: 155px;"><input placeholder="Use-Phase Emission factor" name="custom_usephase_emission_factor" style="width: 130px; text-decoration: none; background-color: transparent; color: white; outline: none; border: none;"></div></th>
                            <th><div style="width: 160px;"><input placeholder="Lifespan (Years)" name="custom_lifespan" style="width: 140px; text-decoration: none; background-color: transparent; color: white; outline: none; border: none;"></div></th>
                              <th><div style="width: 100px;"><input placeholder="Carbon footprint per day" name="custom_carbonperday" style="width: 90px; text-decoration: none; background-color: transparent; color: white; outline: none; border: none;"></div></th>
                              <th><div style="width: 80px;"><select  name="project_using_EF" style="width: 70px; text-decoration: none; background-color: transparent; color: white; outline: none; border: none;">
                                  <option style="background-color: black; color: white;"></option>
                                  <option style="background-color: black; color: white;">Yes</option>
                                  <option style="background-color: black; color: white;">No</option>
                              </select></div></th>
                          </tr>
                    </table>
                    <div class="Add_new_row_custom">
                        <button class="content_button_row" onclick="myFunction()" type="submit" style="font-size: 12px; width: 40px;">+ ADD</button>
                    </div>
                </div>
            </form>
            <form method="POST" action="custom_edit_data">
                {% csrf_token %}
                <div style="height: 50px; margin-top: 60px; display: none;" id="new_role_edit_div">
                    <table class="table table-bordered">
                          <tr>
                            <th><div style="width: 156px; height: 20px;"><input placeholder="Name" id="edit_name" name="edit_name" style="width: 130px; text-decoration: none; background-color: transparent; color: white; outline: none; border: none;"></div></th>
                            <th><div style="width: 260px;"><input placeholder="Type of Impact" id="edit_toi" name="edit_type_of_impact" style="width: 240px; text-decoration: none; background-color: transparent; color: white; outline: none; border: none;"></div></th>
                            <th><div style="width: 160px;"><input placeholder="Category" id="edit_cat" name="edit_category" style="width: 140px;  text-decoration: none; background-color: transparent; color: white; outline: none; border: none;"></div></th>
                              <th><div style="width: 154px;"><input placeholder="Sub-Category" id="edit_subcat" name="edit_subcategory" style="width: 130px; text-decoration: none; background-color: transparent; color: white; outline: none; border: none;"></div></th>
                            <th><div style="width: 57px;"><input placeholder="Emission Factor" id="edit_ef" name="edit_emission_factor" style="width: 40px; text-decoration: none; background-color: transparent; color: white; outline: none; border: none;"></div></th>
                            <th><div style="width: 70px;"><input placeholder="Unit" id="edit_unit" name="edit_unit" style="width: 50px; text-decoration: none; background-color: transparent; color: white; outline: none; border: none;"></div></th>
                              <th><div style="width: 155px;"><input placeholder="Lifecycle Stage" id="edit_life" name="edit_lifecycle" style="width: 130px; text-decoration: none; background-color: transparent; color: white; outline: none; border: none;"></div></th>
                            <th><div style="width: 155px;"><input placeholder="Use-Phase Emission factor" id="edit_phase_ef" name="edit_usephase_emission_factor" style="width: 130px; text-decoration: none; background-color: transparent; color: white; outline: none; border: none;"></div></th>
                            <th><div style="width: 160px;"><input placeholder="Lifespan (Years)" id="edit_lifespan" name="edit_lifespan" style="width: 140px; text-decoration: none; background-color: transparent; color: white; outline: none; border: none;"></div></th>
                              <th><div style="width: 100px;"><input placeholder="Carbon footprint per day" id="edit_carbon" name="edit_carbonperday" style="width: 90px; text-decoration: none; background-color: transparent; color: white; outline: none; border: none;"></div></th>
                              <th><div style="width: 80px;"><select  name="edit_project_using_EF" id="edit_project_ef" style="width: 70px; text-decoration: none; background-color: transparent; color: white; outline: none; border: none;">
                                  <option style="background-color: black; color: white;"></option>
                                  <option style="background-color: black; color: white;">Yes</option>
                                  <option style="background-color: black; color: white;">No</option>
                              </select></div></th>
                          </tr>
                    </table>
                    <div class="Add_new_row_custom">
                        <button class="content_button_row" onclick="myFunction()" type="submit" style="font-size: 12px; width: 40px;">&nbsp;&nbsp;EDIT</button>
                    </div>
                </div>
            </form>

            <table class="table table-bordered" style="margin-top: 50px; border-style: ridge; border: 1px solid white;" id="myTable">
              <thead>
                <tr style="height: 30px; height: 100px; border: 1px solid; border-color:#34373D;  background-color: #23272E; color: #CED4DA">
                    <th scope="col">
                      <div style="margin-bottom: 20px;">
                        Select
                      </div>
                        <div class="search_box" style="right:5px; border: none; width: 80px; margin-bottom: 5px; ">
                      </div>
                  </th>
                  <th scope="col">
                      <div style="margin-bottom: 20px;">
                        Name
                      </div>
                      <div class="search_box" style="right:5px; margin-bottom: 5px; ">
                            <input class="input_search_1" id="name_search_id" onkeyup="myNameSearchFunction()" type="text" placeholder="Search..." name="search" style="background-color: transparent">
                            <img src="static/assets/img/search_Icon.png">
                      </div>
                  </th>
                  <th scope="col">
                      <div style="margin-bottom: 20px;">
                        Type of Impact
                      </div>
                      <div style="right:5px; width: 260px; margin-bottom: 5px; ">
                            <button id="direct_impact_filter" class="btn btn-outline-secondary tablink w3-bottombar" onclick="TypeOfImpactSearch(this.id)"  style="font-size: 12px; color: #ADB5BD; width:40%; box-sizing: border-box; border-radius: 50px; border: 1px solid #6C757D; background: #34373D;" name="direct" value="0" >Direct Impact</button>
                            <button id="indirect_impact_filter" class="btn btn-outline-secondary tablink w3-bottombar" onclick="TypeOfImpactSearch(this.id)" style="font-size: 12px; color: #ADB5BD; width:40%; box-sizing: border-box; border-radius: 50px; border: 1px solid #6C757D; background: #34373D;" name="indirect" value="1">Indirect Impact</button>
                      </div>
                  </th>
                  <th scope="col">
                      <div style="margin-bottom: 20px;">
                        Category
                      </div>
                      <div class="search_box" style="right:5px; margin-bottom: 5px; ">
                            <input class="input_search_1" id="name_search_id_category" onkeyup="CategorySearchFunction()" type="text" placeholder="Search..." name="search" style="background-color: transparent">
                            <img src="static/assets/img/search_Icon.png">
                      </div>
                  </th>
                  <th scope="col">
                      <div style="margin-bottom: 20px;">
                        Sub-category
                      </div>
                      <div class="search_box" style="right:5px; margin-bottom: 5px; ">
                            <input class="input_search_1" id="name_search_id_subcategory" onkeyup="SubCategorySearchFunction()" type="text" placeholder="Search..." name="search" style="background-color: transparent">
                            <img src="static/assets/img/search_Icon.png">
                      </div>
                  </th>
                    <th scope="col">
                      <div style="margin-bottom: 20px;">
                        Emission factor (KgCO2e per unit)
                      </div>
                  </th>
                    <th scope="col">
                      <div style="margin-bottom: 20px;">
                        Unit
                      </div>
                  </th>
                    <th scope="col">
                      <div style="margin-bottom: 20px;">
                        Lifecycle Stage Included
                      </div>
                      <div class="search_box" style="right:5px; margin-bottom: 5px; ">
                            <input class="input_search_1" id="name_search_id7" onkeyup="myNameSearchFunction()" type="text" placeholder="Search..." name="search" style="background-color: transparent">
                            <img src="static/assets/img/search_Icon.png">
                      </div>
                  </th>
                    <th scope="col">
                      <div style="margin-bottom: 20px;">
                        Use Phase emission factor (Kg CO2e)
                      </div>
                      <div class="search_box" style="right:5px; margin-bottom: 5px; ">
                            <input class="input_search_1" id="name_search_id8" onkeyup="myNameSearchFunction()" type="text" placeholder="Search..." name="search" style="background-color: transparent">
                            <img src="static/assets/img/search_Icon.png">
                      </div>
                  </th>
                    <th scope="col">
                      <div style="margin-bottom: 20px;">
                        Lifespan (Years)
                      </div>
                      <div class="search_box" style="right:5px; margin-bottom: 5px; ">
                            <input class="input_search_1" id="name_search_id9" onkeyup="myNameSearchFunction()" type="text" placeholder="Search..." name="search" style="background-color: transparent">
                            <img src="static/assets/img/search_Icon.png">
                      </div>
                  </th>
                    <th scope="col">
                      <div style="margin-bottom: 20px;">
                        Carbon footprint per
                        day (KgCO2eq/day)
                      </div>
                  </th>
                    <th scope="col">
                      <div style="margin-bottom: 20px;">
                        Project Using this Emission Factor
                      </div>
                  </th>
                </tr>
              </thead>
              <tbody>
              {% for i in emission_library_custom_list %}
                <tr>    <td style="color: #CED4DA; background-color: #1A1D23"><input class="form-check-input" id="{{i.carbonid}}" onchange="deleteRow(this.id)" style="background-color: transparent; border-color: white;" type="checkbox"></td>
                        <td style="color: #CED4DA; background-color: #1A1D23">{{i.name}}</td>
                        <td style="color: #CED4DA; background-color: #1A1D23">{{i.typeofimpact}}</td>
                        <td style="color: #CED4DA; background-color: #1A1D23">{{i.category}}</td>
                        <td style="color: #CED4DA; background-color: #1A1D23">{{i.subcategory}}</td>
                        <td style="color: #CED4DA; background-color: #1A1D23">{{i.emissionfactor}}</td>
                        <td style="color: #CED4DA; background-color: #1A1D23">Parameter</td>
                        <td style="color: #CED4DA; background-color: #1A1D23">{{i.lifespanyrs}}</td>
                        <td style="color: #CED4DA; background-color: #1A1D23">{{i.carbonfootprintperday}}</td>
                        <td style="color: #CED4DA; background-color: #1A1D23">{{i.unit}}</td>
                        <td style="color: #CED4DA; background-color: #1A1D23">Parameters</td>
                        <td style="color: #CED4DA; background-color: #1A1D23">
                            <select style="background-color: #1A1D23; color: white; border: none">
                                <option style="color: white;">Project A</option>
                                <option style="color: white;">Project B</option>
                                <option style="color: white;">Project C</option>
                                <option style="color: white;">Project D</option>
                                <option style="color: white;">Project E</option>
                            </select>
                        </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
        <div style="padding-bottom:120px;">

        </div>
    </div>

    <!-----------------------------------------End Of Project Heading------------------------------------>
</div>


{% endblock %}
</body>
</html>