{% extends 'progress-bar-figma.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
.main_width_clone{
  scroll-behavior: smooth;
}
</style>

<style>
  .load_view {
    margin: auto;
    width: 100%;
  }
  .load_table{
    border-collapse:separate;
    border-spacing:0 5px;
  }
  .load_wrapper {
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #CED4DA;
  }
  .sticky-col {
    position: -webkit-sticky;
    position: sticky;

  }
  .first-col {
  min-width: 67px;
  max-width: 67px;
  left: 0px;
  border: 1px solid #34373D;
}
.first-col-fix {
  min-width: 154px;
  max-width: 154px;
  left: 0px;
  align-items: center;
  border: 1px solid #34373D;
  z-index: 1;
}

.fixed-col {
  width: 154px;
  height: 30px;
  background: #23272E;
  border: 1px solid #34373D;
  border-radius: 8px 0px 0px 8px;
  text-align: center;
}
.load_cell_th {
  width: 268px;
  text-align: center;
  border: 1px solid #34373D;
  background: #23272E;
  border-radius: 0px;
}
.load_cell {
  width: 67px;
  text-align: center;
  border: 1px solid #34373D;
  background-color: #1A1D23;
  border-radius: 1px 1px 1px 0px;;
}
.load_cell_ip{
  width: 67px;
  height: 40px;
  text-align: center;
  border: 1px solid #34373D;
  background-color: #1A1D23;
  border-radius: 1px 1px 1px 0px;
  color: #CED4DA;
}
/* width */
::-webkit-scrollbar {
  background-color: #555;
  height: 4px;

}

/* Track */
::-webkit-scrollbar-track {
  background-color: #555;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 55px;
  z-index: 1;

}
.nebtn{
  width: 159px;
  height: 32px;

  /* Accent/Accent – Primary */
  background: #4FAFA2;
  border-radius: 4px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border-color: #4FAFA2;
  color: #E6E9EE;
  margin-left: 200px;
  position: fixed;
  float: right;
}

</style>

<script>
    function toggleText1(){
        var myText=document.getElementById('info1');
        var project_details_sidebar_option1 = document.getElementById('project_details_sidebar_option1');
        var project_details_sidebar_icon_option1 = document.getElementById('project_details_sidebar_icon_option1')
        var change_toggle_onclick_down1 = document.getElementById('change_toggle_onclick_down1')
        var displaySetting=myText.style.display;
        var info1_header = document.getElementById('info1_header');

        if(displaySetting == 'none'){
            console.log('None selected')
            change_toggle_onclick_down1.className = 'fa fa-chevron-up';
            project_details_sidebar_icon_option1.style.color = '#3D8588';
            project_details_sidebar_option1.style.color = '#3D8588';
            info1_header.scrollIntoView();

            myText.style.transitionDuration = '2s';
            myText.style.display='block';
        }
        else{
            console.log('None not selected')
             myText.style.transitionDuration = '2s';
            myText.style.display='none';
            project_details_sidebar_icon_option1.style.color = '#6C757D';
            project_details_sidebar_option1.style.color = '#6C757D';
            change_toggle_onclick_down1.className = 'fa fa-angle-down';
            info1_header.scrollIntoView();
        }
    }

    function toggleText2(){
        var change_toggle_onclick_down2 = document.getElementById('change_toggle_onclick_down2')
        var project_details_sidebar_option2 = document.getElementById('project_details_sidebar_option2');
        var project_details_sidebar_icon_option2 = document.getElementById('project_details_sidebar_icon_option2')
        var myText_2=document.getElementById("info2");
        var info5_header = document.getElementById('info2_header');
        var displaySetting=myText_2.style.display;

        if(displaySetting == 'none'){
            myText_2.style.display='block';
            change_toggle_onclick_down2.className = 'fa fa-chevron-up';
            project_details_sidebar_icon_option2.style.color = '#3D8588';
            project_details_sidebar_option2.style.color = '#3D8588';
            info2_header.scrollIntoView();
        }
        else{
            myText_2.style.display='none';
            change_toggle_onclick_down2.className = 'fa fa-angle-down';
            project_details_sidebar_icon_option2.style.color = '#6C757D';
            project_details_sidebar_option2.style.color = '#6C757D';
            info2_header.scrollIntoView();
        }
    }

    function toggleText3(){
        var change_toggle_onclick_down3 = document.getElementById('change_toggle_onclick_down3')
        var project_details_sidebar_option3 = document.getElementById('project_details_sidebar_option3');
        var project_details_sidebar_icon_option3 = document.getElementById('project_details_sidebar_icon_option3')
        var myText_3=document.getElementById("info3");
        var info5_header = document.getElementById('info3_header');
        var displaySetting=myText_3.style.display;

        if(displaySetting == 'none'){
            myText_3.style.display='block';
            change_toggle_onclick_down3.className = 'fa fa-chevron-up';
            project_details_sidebar_icon_option3.style.color = '#3D8588';
            project_details_sidebar_option3.style.color = '#3D8588';
            info3_header.scrollIntoView();
        }
        else{
            myText_3.style.display='none';
            change_toggle_onclick_down3.className = 'fa fa-angle-down';
            project_details_sidebar_icon_option3.style.color = '#6C757D';
            project_details_sidebar_option3.style.color = '#6C757D';
            info3_header.scrollIntoView();
        }
    }

    function toggleText4(){
        var change_toggle_onclick_down4 = document.getElementById('change_toggle_onclick_down4')
        var project_details_sidebar_option4 = document.getElementById('project_details_sidebar_option4');
        var project_details_sidebar_icon_option4 = document.getElementById('project_details_sidebar_icon_option4')
        var myText_4=document.getElementById('info4');
        var info5_header = document.getElementById('info4_header');
        var displaySetting=myText_4.style.display;

        if(displaySetting == 'none'){
            myText_4.style.display='block';
            change_toggle_onclick_down4.className = 'fa fa-chevron-up';
            project_details_sidebar_icon_option4.style.color = '#3D8588';
            project_details_sidebar_option4.style.color = '#3D8588';
            info4_header.scrollIntoView();
        }
        else{
            myText_4.style.display='none';
            change_toggle_onclick_down4.className = 'fa fa-angle-down';
            project_details_sidebar_icon_option4.style.color = '#6C757D';
            project_details_sidebar_option4.style.color = '#6C757D';
            info4_header.scrollIntoView();
        }
    }

    function toggleText5(){
        var change_toggle_onclick_down5 = document.getElementById('change_toggle_onclick_down5')
        var project_details_sidebar_option5 = document.getElementById('project_details_sidebar_option5');
        var project_details_sidebar_icon_option5 = document.getElementById('project_details_sidebar_icon_option5')
        var myText_5=document.getElementById("info5");
        var info5_header = document.getElementById('info5_header');
        var displaySetting=myText_5.style.display;

        if(displaySetting == 'none'){
            myText_5.style.display='block';
            change_toggle_onclick_down5.className = 'fa fa-chevron-up';
            project_details_sidebar_icon_option5.style.color = '#3D8588';
            project_details_sidebar_option5.style.color = '#3D8588';
            info5_header.scrollIntoView();
        }
        else{
            myText_5.style.display='none';
            change_toggle_onclick_down5.className = 'fa fa-angle-down';
            project_details_sidebar_icon_option5.style.color = '#6C757D';
            project_details_sidebar_option5.style.color = '#6C757D';
            info5_header.scrollIntoView();
        }
    }

    function colorChange2(){
        var input = document.querySelector('.laptop');
        input.style.backgroundColor = ' #ADB5BD;';
    }
    function focus_input(){
    console.log('inter focus');
        document.getElementById('auto_focus').focus();
        document.getElementById('auto_focus').style.outline = 'none';
    }
</script>
<script>
    function active_tab(){
    var project_details_sidebar_option1 = document.getElementById('project_details_sidebar_option1');
    var project_details_sidebar_icon_option1 = document.getElementById('project_details_sidebar_icon_option1');
    var project_details_sidebar_option2 = document.getElementById('project_details_sidebar_option2');
    var project_details_sidebar_icon_option2 = document.getElementById('project_details_sidebar_icon_option2');
    var project_details_sidebar_option3 = document.getElementById('project_details_sidebar_option3');
    var project_details_sidebar_icon_option3 = document.getElementById('project_details_sidebar_icon_option3');
    var project_details_sidebar_option4 = document.getElementById('project_details_sidebar_option4');
    var project_details_sidebar_icon_option4 = document.getElementById('project_details_sidebar_icon_option4');
    var project_details_sidebar_option5 = document.getElementById('project_details_sidebar_option5');
    var project_details_sidebar_icon_option5 = document.getElementById('project_details_sidebar_icon_option5');
      if (project_details_sidebar_option1.style.display === 'none') {
        project_details_sidebar_option1.style.display = 'block';
        project_details_sidebar_icon_option1.style.display = 'block';

        project_details_sidebar_option2.style.display = 'block';
        project_details_sidebar_icon_option2.style.display = 'block';

        project_details_sidebar_option3.style.display = 'block';
        project_details_sidebar_icon_option3.style.display = 'block';

        project_details_sidebar_option4.style.display = 'block';
        project_details_sidebar_icon_option4.style.display = 'block';

        project_details_sidebar_option5.style.display = 'block';
        project_details_sidebar_icon_option5.style.display = 'block';
      } else {
        project_details_sidebar_option1.style.display = 'none';
        project_details_sidebar_icon_option1.style.display = 'none';

        project_details_sidebar_option2.style.display = 'none';
        project_details_sidebar_icon_option2.style.display = 'none';

        project_details_sidebar_option3.style.display = 'none';
        project_details_sidebar_icon_option3.style.display = 'none';

        project_details_sidebar_option4.style.display = 'none';
        project_details_sidebar_icon_option4.style.display = 'none';

        project_details_sidebar_option5.style.display = 'none';
        project_details_sidebar_icon_option5.style.display = 'none';
      }
    }
</script>
<script>
    var all_input_count1 = false;
    var all_input_count2 = false;
    var all_input_count3 = false;
    var all_input_count4 = false;
    var all_input_count5 = false;
    function project_duration_inputs(){
        var start_date_build = document.getElementById('start_date_build');
        var end_date_build = document.getElementById('end_date_build');
        var start_date_run = document.getElementById('start_date_run');
        var end_date_run = document.getElementById('end_date_run');

        var project_details_sidebar_icon_option1 = document.getElementById('project_details_sidebar_icon_option1');

        if ((start_date_build.value != '') && (end_date_build.value != '') && (start_date_run.value != '') && (end_date_run.value != '')){
            project_details_sidebar_icon_option1.className = 'fa fa-check-circle';
            console.log('completed form 1');
            all_input_count1 = true;
        }
        else{
            project_details_sidebar_icon_option1.className = 'fa fa-circle';
            all_input_count1 = false;
        }
        console.log('project_duration');
    }
</script>
<script>
    function project_details_inputs(){
        var select_1 = document.getElementById('select_1');
        var select_2 = document.getElementById('select_2');
        var select_3 = document.getElementById('select_3');
        var select_4 = document.getElementById('select_4');
        var select_5 = document.getElementById('select_5');
        var select_6 = document.getElementById('select_6');
        var project_details_sidebar_icon_option2 = document.getElementById('project_details_sidebar_icon_option2');

        if ((select_1.value != '') && (select_2.value != '') && (select_3.value != '') && (select_4.value != '') && (select_5.value != '') && (select_6.value != '')){
            project_details_sidebar_icon_option2.className = 'fa fa-check-circle';
            all_input_count2 = true;
        }
        else{
            project_details_sidebar_icon_option2.className = 'fa fa-circle';
            all_input_count2 = false;
        }
    }
</script>
<script>
    function project_roles_input(){
        var name = document.getElementById('name');
        var work_country = document.getElementById('work_country');
        var one = document.getElementById('one');
        var two = document.getElementById('two');
        var three = document.getElementById('three');
        var four = document.getElementById('four');
        var five = document.getElementById('five');
        var six = document.getElementById('six');
        var seven = document.getElementById('seven');
        var eight = document.getElementById('eight');
        var project_details_sidebar_icon_option3 = document.getElementById('project_details_sidebar_icon_option3');

        if ((name.value != '' && work_country.value != '') && (one.checked || two.checked || three.checked ||
        four.checked || five.checked || six.checked || seven.checked || eight.checked
        )){
            project_details_sidebar_icon_option3.className = 'fa fa-check-circle';
            console.log('work_country_selected');
            all_input_count3 = true;
        }
        else{
            project_details_sidebar_icon_option3.className = 'fa fa-circle';
            all_input_count3 = false;
        }
    }
</script>
<script>
    function direct_impact_input(){
        var laptop = document.getElementById('laptop');
        var pc = document.getElementById('pc');
        var tablet = document.getElementById('tablet');
        var telephone = document.getElementById('telephone');
        var printer = document.getElementById('printer');
        var speaker = document.getElementById('speaker');
        var projector = document.getElementById('projector');
        var monitor = document.getElementById('monitor');

        var laptop1 = document.getElementById('laptop1');
        var camera = document.getElementById('camera');
        var sensor = document.getElementById('sensor');
        var lidar = document.getElementById('lidar');
        var project_details_sidebar_icon_option4 = document.getElementById('project_details_sidebar_icon_option4');

        if ((laptop.checked || pc.checked || tablet.checked || telephone.checked || printer.checked ||
            speaker.checked || projector.checked || monitor.checked) && (laptop1.checked || camera.checked ||
            sensor.checked || lidar.checked)
            ){
                project_details_sidebar_icon_option4.className = 'fa fa-check-circle';
                all_input_count4 = true;
            }
        else{
                project_details_sidebar_icon_option4.className = 'fa fa-circle';
                all_input_count4 = false;
        }
}
</script>
<script>
    function indirect_impact_input(){
    var fuel = document.getElementById('fuel');
    var electricity = document.getElementById('electricity');
    var water = document.getElementById('water');
    var paper = document.getElementById('paper');
    var plastic = document.getElementById('plastic');
    var waste_material = document.getElementById('waste_material');
    var raw_material = document.getElementById('raw_material');
    var project_details_sidebar_icon_option4 = document.getElementById('project_details_sidebar_icon_option4');
    if (fuel.checked || electricity.checked || water.checked || paper.checked || plastic.checked || waste_material.checked || raw_material.checked){
            project_details_sidebar_icon_option5.className = 'fa fa-check-circle';
            all_input_count5 = true;
        }
    else{
            project_details_sidebar_icon_option5.className = 'fa fa-circle';
            console.log('more selected');
            all_input_count5 = false;
    }
}
</script>
<script>
    function all_input_count_fun(){
        var project_details_tab = document.getElementById('project_details_tab');
        if (all_input_count1 && all_input_count2 && all_input_count3 && all_input_count4 && all_input_count5){
            console.log('all_input_count_clear');
            project_details_tab.className = 'tab_inactive'
        }
        else{
            console.log('all_input_not_filled_yet');
            project_details_tab.className = 'tab_active'
        }
    }

    function delete_complete(delete_complete_id){
        var main_div = document.getElementById('main_width');
        var edit_project_popup_div = document.getElementById('delete_project_popup_div');
        console.log('mark_complete_dropdown ID: ' + delete_complete_id)
        main_div.style.opacity = 0.5;
        delete_project_popup_div.style.display = 'block';
    }

    function delete_take_me_back(){
        var main_div = document.getElementById('main_width');
        var edit_project_popup_div = document.getElementById('delete_project_popup_div');
        main_div.style.opacity = 1;
        edit_project_popup_div.style.display = 'none';
    }
</script>
<body>
<div id="main_width" class="main_width_clone" style="overflow-y:auto; overflow-x:hidden;">
    <form action="indirect_impact_fl"  method="post">
        {% csrf_token %}
        <!-------------------------------------------End Of Progress Bar------------------------------------->
        <!---------------------------------------------Project Heading--------------------------------------->
        <div class="header_div">
            <div class="di_heading">
                Indirect Impact
                <p class="di_subhead " style="margin-top: 10px;">Fuel - Stationary Combustion</p>
                <p class="di_para" style="margin-top: 8px; padding-right: 200px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="w3-bar static-font" style="width: 70%;font-weight: 400; font-size: 16px; line-height: 20px;">
                <div style="position:absolute;  width:90%; float:left">
                    <button id="nav_button_2" class="btn btn-outline-secondary tablink w3-bottombar" onclick="openCity(event, 'Run');" style="color:  #ADB5BD; border:none; background-color:transparent" name="run" value="1">Run</button>    </div>    <div style=" width:100%; text-align:end;">
                    <button class="btn btn-outline-secondary tablink w3-bottombar" onclick="openCity(event, 'customise');" style="color: #6C757D; border:none; background-color:transparent" name="customise" value="1"><p class="customize_button">Customise<img style="padding-left:5px;" src="static/assets/img/arrow_up.png"></p></button>    </div>    <div class="progress1">
                    <div class="progress2">
                        <hr class="line" size="3" width="100%" color="#6C757D">
                    </div>
                </div>
            </div>

            <div class="load_view city" id="Build" style="display: block; width: auto;margin-top: 5px;padding-bottom: 10px;">
                <div class="load_wrapper" >
                    <table class="load_table">
                        <thead>
                        <tr>
                            <th class="sticky-col first-col-fix fixed-col" style="height:40px;">Type of Fuel Saved</th>
                            <th class="load_cell_th">Unit</th>
                            <th colspan="4" class="load_cell_th">Year 2020</th>
                            <th colspan="4" class="load_cell_th">Year 2021</th>
                            <th colspan="4" class="load_cell_th">Year 2022</th>

                        </tr>
                        <tr>
                            <th  class="sticky-col first-col-fix fixed-col" style="background-color: #121010;border-color: black; border-radius: 0px;">&nbsp;</th>
                            <th  class="sticky-col first-col-fix fixed-col" style="background-color: #121010;border-color: black; border-radius: 0px;">&nbsp;</th>
                            <th  class="sticky-col first-col load_cell">Q1</th>
                            <th  class="sticky-col first-col load_cell">Q2</th>
                            <th  class="sticky-col first-col load_cell">Q3</th>
                            <th  class="sticky-col first-col load_cell">Q4</th>
                            <th  class="sticky-col first-col load_cell">Q1</th>
                            <th  class="sticky-col first-col load_cell">Q2</th>
                            <th  class="sticky-col first-col load_cell">Q3</th>
                            <th  class="sticky-col first-col load_cell">Q4</th>
                            <th  class="sticky-col first-col load_cell">Q1</th>
                            <th  class="sticky-col first-col load_cell">Q2</th>
                            <th  class="sticky-col first-col load_cell">Q3</th>
                            <th  class="sticky-col first-col load_cell">Q4</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="sticky-col first-col-fix fixed-col" style="height:40px;"><select class="di_select">
                                <option class="di_option" value="0">Placeholder</option>
                                <option class="di_option" value="1">Placeholder</option>
                                <option class="di_option" value="1">Placeholder</option></td>
                            <td class="load_cell"><select class="di_select">
                                <option class="di_option" value="0">Placeholder</option>
                                <option class="di_option" value="1">Placeholder</option>
                                <option class="di_option" value="1">Placeholder</option></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col first-col-fix fixed-col" style="height:40px;"><select class="di_select">
                                <option class="di_option" value="0">Placeholder</option>
                                <option class="di_option" value="1">Placeholder</option>
                                <option class="di_option" value="1">Placeholder</option></td>
                            <td class="load_cell"><select class="di_select">
                                <option class="di_option" value="0">Placeholder</option>
                                <option class="di_option" value="1">Placeholder</option>
                                <option class="di_option" value="1">Placeholder</option></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                        </tr>
                        <tr>
                            <td class="sticky-col first-col-fix fixed-col" style="height:40px;"><select class="di_select">
                                <option class="di_option" value="0">Placeholder</option>
                                <option class="di_option" value="1">Placeholder</option>
                                <option class="di_option" value="1">Placeholder</option></td>
                            <td class="load_cell"><select class="di_select">
                                <option class="di_option" value="0">Placeholder</option>
                                <option class="di_option" value="1">Placeholder</option>
                                <option class="di_option" value="1">Placeholder</option></td></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                            <td class="load_cell"><input class="load_cell_ip"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>

    <!-----------------------------------------End Of Project Heading------------------------------------>
</div>

<!------------------------------------------Footer-------------------------------------->
<div class="footer">
    <div style="width:50%; float:left; text-align:center; margin-top:5px; ">
        <button type="button" onclick="history.back()" style="display: none; color:Black;" id="back-btn" ></button>
        <a href="#" style="color:#4FAFA2; "><img src="static/assets/img/back_button.png" style="margin-right:10px;" onclick="document.getElementById('back-btn').click()"  alt="Back"/>BACK</a>
    </div>
    <div style=" width:10%;  float:right; margin-top:5px;" >
        <button onclick="delete_complete()" class="save" style="width:120px; text-align:end;   border-radius:4px;  "><b class="continue" style="width:100px;">Finish<img src="static/assets/img/right_tick.png" style="padding-left:8px;"></b></button>
    </div>
</div>
<div id="delete_project_popup_div" style="width: 500px; font-family: Ubuntu; display: none; margin-top: auto; height: 220px; left:40%; top: 35%; background-color: #34373D; z-index: 1; margin: 0 auto; position: fixed;">
    <img src="static/assets/img/right_click_green.png" height="25" width="25" style="position: absolute; margin-top: 25px; margin-left: 25px;"><label style="font-size: 20px; color: #ADB5BD; padding: 20px; margin-left: 50px; width: 430px; font-family: Ubuntu; font-weight: 500">You have successfully added the project!</label>
    <label style="font-size: 14px; color: #ADB5BD; margin-left: 40px; width: 420px; font-family: Ubuntu;">Would you like to view the results or go back to the my projects page?</label>
    <div style="margin: 0 auto; display: inline;">
        <div style="margin: 0 auto; display: inline;">
            <button class="action_btn submit" style="font-size: 12px;  margin: 0 auto;  border: 1.5px; font-weight: bold; letter-spacing: 0.02em; border-radius: 4px; width: 100px; margin-top: 25px; margin-left: 240px; font-weight: 500; height: 30px; color: #4FAFA2; border-color: #4FAFA2; border-style: solid; background-color: transparent"><a style="color: #4FAFA2;" href="{% url 'projectA' %}">My Project</a></button>
            <button class="action_btn cancel" style="font-size: 12px;  margin: 0 auto;  border: 2px; font-weight: 500; letter-spacing: 0.02em; border-radius: 4px; width: 100px; margin-left: 5px; height: 30px; color: #E6E9EE; border-color: #4FAFA2; background-color: #4FAFA2"><a href="{% url 'index' %}" style="color: #E6E9EE;">View Results</a></button>
        </div>
    </div>
</div>

{% endblock %}
</body>
</html>