{% extends 'progress-bar-figma.html' %}
{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
  .load_view {
    margin: auto;
    width: 100%;
  }
  .load_table{
    border-collapse:separate;
    border-spacing:0 5px;
  }
  .load_wrapper {
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #CED4DA;
  }
  .sticky-col {
    position: -webkit-sticky;
    position: sticky;

  }
  .first-col {
  min-width: 67px;
  max-width: 67px;
  left: 0px;
  border: 1px solid #34373D;
}
.first-col-fix {
  min-width: 154px;
  max-width: 154px;
  left: 0px;
  align-items: center;
  border: 1px solid #34373D;
  z-index: 1;
}

.fixed-col {
  width: 154px;
  height: 30px;
  background: #23272E;
  border: 1px solid #34373D;
  border-radius: 8px 0px 0px 8px;
  text-align: center;
}
.load_cell_th {
  width: 268px;
  text-align: center;
  border: 1px solid #34373D;
  background: #23272E;
  border-radius: 0px;
}
.load_cell {
  width: 67px;
  text-align: center;
  border: 1px solid #34373D;
  background-color: #1A1D23;
  border-radius: 1px 1px 1px 0px;;
}
.load_cell_ip{
  width: 67px;
  height: 30px;
  text-align: center;
  border: 1px solid #34373D;
  background-color: #1A1D23;
  border-radius: 1px 1px 1px 0px;
  color: #CED4DA;
}
/* width */
::-webkit-scrollbar {
  background-color: #555;
  height: 4px;

}

/* Track */
::-webkit-scrollbar-track {
  background-color: #555;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 55px;
  z-index: 1;

}
.nebtn{
  width: 159px;
  height: 32px;

  /* Accent/Accent – Primary */
  background: #4FAFA2;
  border-radius: 4px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border-color: #4FAFA2;
  color: #E6E9EE;
  margin-left: 200px;
  position: fixed;
  float: right;
}

</style>

<script>
  function openCity(evt, cityName) {
    var i;  var x = document.getElementsByClassName('city');
    var nav_button_1 = document.getElementById('nav_button_1');
    var nav_button_2 = document.getElementById('nav_button_2');
    console.log(evt)
    console.log(cityName)
    var progress2 = document.querySelector('.progress2')
    if (cityName == 'Run'){
      progress2.style.marginLeft = '65px';
      nav_button_2.style.color = '#ADB5BD';
      nav_button_1.style.color = '#6C757D';
      nav_button_1.style.borderColor = 'transparent';
      nav_button_2.style.borderColor = 'transparent';
      nav_button_2.style.outline = 'thick solid #121010';
      nav_button_1.style.outline = 'thick solid #121010';
    }
    else{
      progress2.style.marginLeft = '0px';
      nav_button_1.style.color = '#ADB5BD';
      nav_button_2.style.color = '#6C757D';
      nav_button_1.style.borderColor = 'transparent';
      nav_button_2.style.borderColor = 'transparent';
      nav_button_2.style.outline = 'thick solid #121010';
      nav_button_1.style.outline = 'thick solid #121010';
      }
    for (i = 0; i < x.length; i++)
    {    x[i].style.display = 'none';  }
    document.getElementById(cityName).style.display = 'block';}
</script>
<script>
    function active_tab(){
    var project_details_sidebar_option1 = document.getElementById('project_details_sidebar_option1');
    var project_details_sidebar_icon_option1 = document.getElementById('project_details_sidebar_icon_option1');
    var project_details_sidebar_option2 = document.getElementById('project_details_sidebar_option2');
    var project_details_sidebar_icon_option2 = document.getElementById('project_details_sidebar_icon_option2');
    var project_details_sidebar_option3 = document.getElementById('project_details_sidebar_option3');
    var project_details_sidebar_icon_option3 = document.getElementById('project_details_sidebar_icon_option3');
    var project_details_sidebar_option4 = document.getElementById('project_details_sidebar_option4');
    var project_details_sidebar_icon_option4 = document.getElementById('project_details_sidebar_icon_option4');
    var project_details_sidebar_option5 = document.getElementById('project_details_sidebar_option5');
    var project_details_sidebar_icon_option5 = document.getElementById('project_details_sidebar_icon_option5');
      if (project_details_sidebar_option1.style.display === 'none') {
        project_details_sidebar_option1.style.display = 'block';
        project_details_sidebar_icon_option1.style.display = 'block';

        project_details_sidebar_option2.style.display = 'block';
        project_details_sidebar_icon_option2.style.display = 'block';

        project_details_sidebar_option3.style.display = 'block';
        project_details_sidebar_icon_option3.style.display = 'block';

        project_details_sidebar_option4.style.display = 'block';
        project_details_sidebar_icon_option4.style.display = 'block';

        project_details_sidebar_option5.style.display = 'block';
        project_details_sidebar_icon_option5.style.display = 'block';
      } else {
        project_details_sidebar_option1.style.display = 'none';
        project_details_sidebar_icon_option1.style.display = 'none';

        project_details_sidebar_option2.style.display = 'none';
        project_details_sidebar_icon_option2.style.display = 'none';

        project_details_sidebar_option3.style.display = 'none';
        project_details_sidebar_icon_option3.style.display = 'none';

        project_details_sidebar_option4.style.display = 'none';
        project_details_sidebar_icon_option4.style.display = 'none';

        project_details_sidebar_option5.style.display = 'none';
        project_details_sidebar_icon_option5.style.display = 'none';
      }
    }
</script>
<script>
    function load_plan_active_tab(){
        var load_plan_opt1 = document.getElementById('load_plan_opt1');
        var load_plan_opt2 = document.getElementById('load_plan_opt2');
        var load_plan_opt_text1 = document.getElementById('load_plan_opt_text1');
        var load_plan_opt_text2 = document.getElementById('load_plan_opt_text2');
        console.log(load_plan_opt1)
    }
</script>
<div id="main_width" class="main_width_clone">
    <div class="load_heading">
        Load Plan
    </div>
    <div class="w3-bar static-font" style="margin-top: 7px; font-weight: 400; font-size: 16px;margin-left: 20px;">
      <button id="nav_button_1" class="btn btn-outline-secondary tablink w3-bottombar" onclick="openCity(event, 'Build');"  style="color: #ADB5BD; border:none; background-color:transparent">Build</button>
      <button id="nav_button_2" class="btn btn-outline-secondary tablink w3-bottombar" onclick="openCity(event, 'Run');" style="color: #6C757D; border:none; background-color:transparent">Run</button>
      <div class="progress1">
          <div class="progress2">
              <hr class="line" size="3" width="100%" color="#6C757D">
          </div>
      </div>
    </div>
    <div class="load_view city" id="Build" style="display: block;margin-left:20px;width: auto;margin-top: 5px;">
        <div class="load_wrapper">
          <table class="load_table">
            <thead>
                <tr>
                    <th class="sticky-col first-col-fix fixed-col">Roles</th>
                    <th colspan="4" class="load_cell_th">Year 2020</th>
                    <th colspan="4" class="load_cell_th">Year 2021</th>
                    <th colspan="4" class="load_cell_th">Year 2022</th>

                </tr>
                <tr>
                    <th  class="sticky-col first-col-fix fixed-col" style="background-color: #121010;border-color: black; border-radius: 0px;">&nbsp;</th>
                    <th  class="sticky-col first-col load_cell">Q1</th>
                    <th  class="sticky-col first-col load_cell">Q2</th>
                    <th  class="sticky-col first-col load_cell">Q3</th>
                    <th  class="sticky-col first-col load_cell">Q4</th>
                    <th  class="sticky-col first-col load_cell">Q1</th>
                    <th  class="sticky-col first-col load_cell">Q2</th>
                    <th  class="sticky-col first-col load_cell">Q3</th>
                    <th  class="sticky-col first-col load_cell">Q4</th>
                    <th  class="sticky-col first-col load_cell">Q1</th>
                    <th  class="sticky-col first-col load_cell">Q2</th>
                    <th  class="sticky-col first-col load_cell">Q3</th>
                    <th  class="sticky-col first-col load_cell">Q4</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <td class="sticky-col first-col-fix fixed-col">Product Owner</td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
              </tr>
              <tr>
                <td class="sticky-col first-col-fix fixed-col">Proxy PO</td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
              </tr>
              <tr>
                <td class="sticky-col first-col-fix fixed-col">IT Leader 1</td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
              </tr>
              <tr>
                <td class="sticky-col first-col-fix fixed-col">IT Leader 2</td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
              </tr>
              <tr>
                <td class="sticky-col first-col-fix fixed-col">IT Front</td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
              </tr>
              <tr>
                <td class="sticky-col first-col-fix fixed-col">Dir. Data Science</td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
              </tr>
              <tr>
                <td class="sticky-col first-col-fix fixed-col">Project Manager</td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
                <td class="load_cell"><input class="load_cell_ip"></td>
              </tr>

            </tbody>
          </table>
        </div>

    </div>
    <!---------------------Run Table  ------------------------>
    <div id="Run" class="load_view city" style="display:none;margin-left:20px;width: auto;margin-top: 5px;">
      <div class="load_wrapper">
        <table class="load_table">
          <thead>
              <tr>
                  <th class="sticky-col first-col-fix fixed-col">Roles</th>
                  <th colspan="4" class="load_cell_th">Year 2020</th>
                  <th colspan="4" class="load_cell_th">Year 2021</th>
                  <th colspan="4" class="load_cell_th">Year 2022</th>

              </tr>
              <tr>
                  <th  class="sticky-col first-col-fix fixed-col" style="background-color: #121010;border-color: black; border-radius: 0px;">&nbsp;</th>
                  <th  class="sticky-col first-col load_cell">Q1</th>
                  <th  class="sticky-col first-col load_cell">Q2</th>
                  <th  class="sticky-col first-col load_cell">Q3</th>
                  <th  class="sticky-col first-col load_cell">Q4</th>
                  <th  class="sticky-col first-col load_cell">Q1</th>
                  <th  class="sticky-col first-col load_cell">Q2</th>
                  <th  class="sticky-col first-col load_cell">Q3</th>
                  <th  class="sticky-col first-col load_cell">Q4</th>
                  <th  class="sticky-col first-col load_cell">Q1</th>
                  <th  class="sticky-col first-col load_cell">Q2</th>
                  <th  class="sticky-col first-col load_cell">Q3</th>
                  <th  class="sticky-col first-col load_cell">Q4</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td class="sticky-col first-col-fix fixed-col">Product Owner</td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
            </tr>
            <tr>
              <td class="sticky-col first-col-fix fixed-col">Proxy PO</td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
            </tr>
            <tr>
              <td class="sticky-col first-col-fix fixed-col">IT Leader 1</td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
            </tr>
            <tr>
              <td class="sticky-col first-col-fix fixed-col">IT Leader 2</td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
            </tr>
            <tr>
              <td class="sticky-col first-col-fix fixed-col">IT Front</td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
            </tr>
            <tr>
              <td class="sticky-col first-col-fix fixed-col">Dir. Data Science</td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
            </tr>
            <tr>
              <td class="sticky-col first-col-fix fixed-col">Project Manager</td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
              <td class="load_cell"><input class="load_cell_ip"></td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>
    <div id="footer">
        <button type="submit" class="nebtn" style="width:120px;border-radius:4px; "><b  style="width:110px;">SAVE & CONTINUE</b></button>
    </div>



</div>
{% endblock %}
</html>