/*--------------------------Project A--------------------------*/
input::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}
input::-webkit-calendar-picker-indicator: {
  background: white;
  border:1px solid white;
}
.div_class_1{
    position:relative;
    width:100%;
    display:grid;
    padding-top:5px;
    grid-gap:10px;
    grid-template-columns:2fr 2fr;
    grid-template-columns:repeat(2, 1fr);
}
.div_class_2{
    position:relative;
    width:50%;
    padding-top:5px;
    display:grid;
    grid-gap:10px;
    grid-template-columns:2fr 2fr;
    grid-template-columns:repeat(1, 1fr);
}
.div_class_3{
    position:relative;
    width:100%;
    display:grid;
    padding-top:5px;
    grid-gap:10px;
    grid-template-columns:2fr 2fr;
    grid-template-columns:repeat(3, 1fr);
}
.project_location_header {
    width:100%;
    height: 12px;

    /* Labels/Label Text – Regular */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    text-transform: capitalize;

    /* Gray/Gray – Primary */

    color: #ADB5BD;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.project_location_header_select{
    box-sizing: border-box;
    grid-template-columns:2fr 2fr;
    grid-template-columns:repeat(2, 1fr);
    padding-bottom:10px;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align:start;
    padding: 4px 4px;
    gap: 2px;
    font-size:14px;
    font-family:'ubuntu';

    width:100%;
    height: 32px;
    background:transparent;
    color:#6C757D;

    /* Gray/Gray – Secondary */

    border: 1px solid #6C757D;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.project_location_header_1{
    width:100%;
    height: 16px;
    top:5px;
    /* Labels/Label Text – Regular */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    text-align:start;
    text-transform: capitalize;

    /* Gray/Gray – Primary */

    color: #ADB5BD;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.project_location_header_select_1{
    box-sizing: border-box;
    grid-template-columns:2fr 2fr;
    grid-template-columns:repeat(2, 1fr);
    padding-bottom:10px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 4px;
    gap: 2px;
    font-size:14px;
    font-family:'ubuntu';

    width:100%;
    height: 32px;

    /* Gray/Gray – Secondary */

    border: 1px solid #6C757D;
    border-radius: 4px;
    background:transparent;
    color:#6C757D;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.project_location_header_3{
    width:100%;
    height: 16px;
    /* Labels/Label Text – Regular */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    text-align:start;
    text-transform: capitalize;

    /* Gray/Gray – Primary */

    color: #ADB5BD;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.pro_mag{
    width: 100%;
    height: 18px;


    /* Body Text/Body Text – Regular */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;

    /* Gray/Gray – Primary */

    color: #ADB5BD;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.add_new{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px 4px 8px;
    gap: 8px;
    background:transparent;

    width: 92px;
    height: 24px;

    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}
.add_new_content{
    width: 100%;
    height: 14px;

    /* Buttons/Small Button */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 140% */

    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;

    /* Accent/Accent – Dark */

    color: #3D8588;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.sub_header_pro_manager{
    width: 30%;
    height: 18px;
    padding-top:25px;
    padding-left:20px;

    /* Body Text/Body Text – Regular */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;

    /* Gray/Gray – Primary */

    color: #ADB5BD;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.checkbox{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* Gray/Gray – Secondary */

    background: #6C757D;
}
.label{
    width: 111px;
    height: 18px;

    /* Body Text/Body Text – Regular */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;

    /* Gray/Gray – Secondary */

    color: #6C757D;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.add_new_role{
    width: 160px;
    height: 20px;
    margin-top:20px;
    background:transparent;
    border:1px solid #3D8588;

    /* Buttons/Small Button */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 140% */

    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;


    /* Accent/Accent – Dark */

    color: #3D8588;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.add_new_role_content{
    width: 160px;
    height: 30px;

    /* Buttons/Small Button */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 140% */

    display: flex;
    align-items: center;
    text-align:center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;

    /* Accent/Accent – Dark */

    color: #3D8588;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.tittle_new{
    width: 486px;
    height: 20px;

    /* Body Text/Lead Text – Regular */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;

    /* Gray/Gray – Primary */

    color: #ADB5BD;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.user_equ_heading{
    width: 149px;
    height: 24px;

    /* Headings/h4 */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    display: flex;
    align-items: center;

    /* Gray/Gray – Primary */

    color: #ADB5BD;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.industry_equ_heading{
    width: 195px;
    height: 24px;
    margin-top:20px;

    /* Headings/h4 */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    display: flex;
    align-items: center;

    /* Gray/Gray – Primary */

    color: #ADB5BD;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.save{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 12px 8px 16px;


    gap: 8px;

    width: 159px;
    height: 32px;

    /* Accent/Accent – Primary */

    background: #4FAFA2;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.continue{
    width: 107px;
    height: 16px;
    padding-left:25px;


    /* Buttons/Regular Button */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    text-align:center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;

    /* White/White – Primary */

    color: #E6E9EE;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
/*****************************Company Details****************/
.company_name{
    width: 100%;
    height: 20px;

    /* Headings/h5 */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: flex-end;

    /* Gray/Gray – Secondary */

    color: #6C757D;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.name{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;

    width: 395px;
    height: 32px;

    /* Gray/Gray – Secondary */

    border: 1px solid #6C757D;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.company_inner_name{
    width: 86px;
    height: 16px;

    /* Labels/Label Text – Regular */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    text-transform: capitalize;

    /* Gray/Gray – Primary */

    color: #ADB5BD;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.input_1{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;

    width: 100%;
    height: 32px;
    background:transparent;

    /* Gray/Gray – Secondary */

    border: 1px solid #6C757D;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.time_period{
    width: 100%;
    height: 20px;

    /* Headings/h5 */
    margin-top:30px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: flex-end;

    /* Gray/Gray – Secondary */

    color: #6C757D;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 #ADB5BD;
    border-radius: 4px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
    background:#ADB5BD ;
    border-radius: 4px;
}
/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
    background: #ADB5BD ;
}
.scroll::-webkit-scrollbar {
    width:10px;
    height:4px;
}
.table_select{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    width: 238px;

    /* Black/Black – Secondary

    Background 2
    */
    background: #1A1D23;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.table_select_content{

    /* Body Text/Body Text – Regular */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;

    /* White/White – Secondary */

    color: #CED4DA;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.customize_button{

    /* Buttons/Regular Button */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: end;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;

    /* Accent/Accent – Primary */

    color: #4FAFA2;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer{
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 55px;
    z-index: 1;
    background: #1A1D23;
}

.header_div_1{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50px;
    top: 20px;
}

.start_subheading2{
    position: absolute;
    width:90%;
    height:28px;
    left: 10px;
    top: 120px;
    bottom: 0%;
}
.scope_1{
    width: 87px;
    height: 20px;

    /* Headings/h5 */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: flex-end;

    /* Gray/Gray – Primary */

    color: #ADB5BD;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.scope{
    text-align:inline;
    width:90%;
    padding:0px;
    float:left;
}
.search_project{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px 8px 16px;
    gap: 8px;

    position: absolute;
    width:44%;
    height: 32px;

    /* Gray/Gray – Secondary */

    border: 1px solid #6C757D;
    border-radius: 4px;
}

.progress3{
    background:#ADB5BD;
    width:15%;
    height:1.5px;
    transition:0.1s;
}
.search_new{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px 8px 16px;
    gap: 8px;

    width: 191.25px;
    height: 32px;

    /* Gray/Gray – Secondary */

    border: 1px solid #6C757D;
    border-radius: 4px;
    background: #23272E;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.col {
  width:20%;
  border-collapse:collapse;
  border: 1px solid #34373D;
  padding: 16px 24px;
  gap: 16px;
  flex-direction: column;
  flex: none; order: 0;
  flex-grow: 0;
  background: #23272E;

}
.sss{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px 8px 16px;
    gap: 8px;

    width: 160px;
    height: 32px;

    /* Gray/Gray – Secondary */

    border: 1px solid #6C757D;
    border-radius: 4px;
    text-align:start;
    margin-top:10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.header_table{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Ubuntu';
    color: #CED4DA;
    text-align:start;
}
.div_class_5{
    position:relative;
    width:100%;
    bottom:3px;
    right:0.2px;
    display:grid;
    grid-template-columns:2fr 2fr;
    grid-template-columns:repeat(11, 1fr);
}

::-webkit-scrollbar {
 background-color: #ADB5BD;
  height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
 background-color: #555;
 border-radius: 4px;
}
/* Handle */
::-webkit-scrollbar-thumb {
 border-radius: 4px;
 background: #ADB5BD;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #ADB5BD;
}

.name_div{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius: 8px 0px 0px 0px;

    width: 204.56px;
    height: 98px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.impact_type_div{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;

    width: 277px;
    height: 98px;
    border-radius: 0px 0px 0px 0px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.category_div{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius: 0px 0px 0px 0px;

    width: 204.56px;
    height: 98px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.sub_category_div{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius: 0px 0px 0px 0px;

    width: 204.56px;
    height: 98px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.emission_fac_div{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius: 0px 0px 0px 0px;

    width: 204.56px;
    height: 98px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.lifespan_div{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius: 0px 0px 0px 0px;

    width: 204.56px;
    height: 98px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.footprint_div{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius: 0px 0px 0px 0px;

    width: 204.56px;
    height: 98px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.year_div{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius: 0px 0px 0px 0px;

    width: 204.56px;
    height: 98px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.project_emission_div{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius: 0px 8px 0px 0px;

    width: 204.56px;
    height: 98px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.name_1{
    width: 146.56px;
    height: 18px;

    /* Body Text/Body Text – Regular */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;

    /* White/White – Secondary */

    color: #CED4DA;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.search_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px 8px 16px;
    gap: 8px;

    width: 156.56px;
    height: 32px;

    /* Gray/Gray – Secondary */

    border: 1px solid #6C757D;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.input_search_1{
    width: 88%;
    height: 16px;
    background: #23272E;
    border:none;

    /* Body Text/Small Text – Regular */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;

    /* Gray/Gray – Secondary */

    color: #6C757D;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.para_1{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;

    width: 204.56px;
    height: 30px;
    border-radius: 0px 0px 0px 0px;

    /* Black/Black – Secondary

    Background 2
    */
    background: #1A1D23;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.para_text{
    width: 100%;
    height: 18px;
    background: #1A1D23;
    border:none;

    /* Body Text/Body Text – Regular */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;

    /* White/White – Secondary */

    color: #CED4DA;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.para_2{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;

    width: 277px;
    height: 30px;
    border-radius: 0px 0px 0px 0px;

    /* Black/Black – Secondary

    Background 2
    */
    background: #1A1D23;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.select_para_1{
    width: 100%;
    height: 18px;
    background: #1A1D23;
    border:none;

    /* Body Text/Body Text – Regular */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;

    /* White/White – Secondary */

    color: #CED4DA;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.cal_class{
    width: 100%;
    height: 18px;

    /* Body Text/Body Text – Regular */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;

    /* White/White – Secondary */

    color: #CED4DA;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.Add_new_row{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 8px 12px;
    gap: 8px;

    position: absolute;
    width: 120px;
    height: 34px;

    /* Accent/Accent – Primary */

    background: #4FAFA2;
    border-radius: 4px;
}
.content_button_row{
    width: 100%;
    height: 18px;

    /* Buttons/Large Button */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    background: #4FAFA2;
    border:none;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;

    /* White/White – Primary */

    color: #E6E9EE;
}
.delete_row{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 8px 12px;
    gap: 8px;

    position: absolute;
    width: 133px;
    height: 34px;
    left: 162px;

    /* Accent/Accent – Primary */

    border: 1px solid #4FAFA2;
    border-radius: 4px;
}
.delete_button_row{
    width: 100%;
    height: 18px;

    background: none;
    border:none;

    /* Buttons/Large Button */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;

    /* Accent/Accent – Primary */

    color: #4FAFA2;
}
.checkbox_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;

    width: 64px;
    height: 98px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.div_class_11{
    position:relative;
    width:100%;
    bottom:3px;
    right:0.2px;
    display:grid;
    grid-template-columns:2fr 2fr;
    grid-template-columns:repeat(11, 1fr);
}
.check_11{
    align-items:center;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* Gray/Gray – Primary */
}

/* Now make it responsive */
@media (max-width: 992px){
    .navigation{
        left:-300px;
    }
    .navigation.active{
        left:0;
    }
    .main{
        width:100%;
        left:0;
    }
    .main.active{
        width:calc(100% -300px);
        left:300px;
    }
    .cardBox{
        grid-template-columns:repeat(2, 1fr);
    }
}

@media (max-width: 768px){
    .details{
        grid-template-columns:repeat(1, 1fr);
    }
    .cardHeader{
        font-width: 600;
        font-size: 18px;
    }
}

@media (max-width: 480px)
{
    .cardBox{
        grid-template-columns:repeat(1, 1fr);
    }
    .details .recentOrders{
        overflow-x: auto;
    }
    .details .recentOrders table{
        width: 600px;
    }
    .navigation{
        width:100%;
        left:-100%;
        z-index: 1000;
    }
    .navigation.active{
        width:100%;
        left:0;
    }
    .toggle{
        z-index: 10000;
    }
    .toggle::before{
        color:#fff;
    }
    .project_a_outer{
         width: 600px;
         left:-100%;
         z-index: 1000;
    }

}

@media (max-width: 992px)
{
    .project_a_outer{
         width: 50%;
         left:-50%;
         z-index: 100;
    }

}
@media (max-width: 980px)
{
    .header_div{
         width: 150%;
         left:-10%;
         z-index: 2000;
    }

}

@media (max-width: 980px)
{
   .header_div_1{
        width: 150%;
        left:-10%;
        z-index: 2000;
   }
}
@media (max-width_clone: 980px)
{
   .header_div{
        width: 150%;
        left:-100%;
        z-index: 2000;
   }
}

@media (max-width_clone: 680px)
{
   .di_heading{
         width: 100%;
         left:-100%;
         z-index: 100;
   }
}
.di_heading {
    /* Headings/h1 */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    /* identical to box height, or 112% */
    /* White/White – Secondary */
    color: #CED4DA;
    margin-top: 15px;
}
.name_2{
    width: 98px;
    height: 18px;

    /* Body Text/Body Text – Regular */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;
    text-align: center;

    /* White/White – Secondary */

    color: #CED4DA;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.div_class_8{
    position:relative;
    width:100%;
    bottom:3px;
    right:0.2px;
    display:grid;
    grid-template-columns:2fr 2fr;
    grid-template-columns:repeat(8, 1fr);
}
.para_name_div{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius:8px 0px 0px 0px;

    width: 146px;
    height: 50px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Black/Black – Tertiary */

    border: 1px solid #23272E;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.para_name_div2{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius:0px 0px 0px 0px;

    width: 157px;
    height: 50px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Black/Black – Tertiary */

    border: 1px solid #23272E;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.para_name_div3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius:0px 0px 0px 0px;

    width: 164px;
    height: 50px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Black/Black – Tertiary */

    border: 1px solid #23272E;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.para_name_div4{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius:0px 0px 0px 0px;

    width: 75px;
    height: 50px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Black/Black – Tertiary */

    border: 1px solid #23272E;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.para_name_div5{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius:0px 0px 0px 0px;

    width: 521px;
    height: 50px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.para_name_div6{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius:0px 0px 0px 0px;

    width: 323px;
    height: 50px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.para_name_div7{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius:0px 0px 0px 0px;

    width: 682px;
    height: 50px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.para_name_div8{
    border-radius:0px 8px 0px 0px;
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;

    width: 124px;
    height: 50px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.content_para_1{
    width: 385px;
    height: 18px;

    /* Body Text/Body Text – Regular */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;

    /* White/White – Secondary */

    color: #CED4DA;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.content_para_2{
    width: 275px;
    height: 18px;

    /* Body Text/Body Text – Regular */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;

    /* White/White – Secondary */

    color: #CED4DA;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.content_para_3{
    width: 385px;
    height: 18px;

    /* Body Text/Body Text – Regular */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;

    /* White/White – Secondary */

    color: #CED4DA;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.div_class_14{
    position:relative;
    width:100%;
    bottom:3px;
    right:0.2px;
    display:grid;
    grid-template-columns:2fr 2fr;
    grid-template-columns:repeat(14, 1fr);
}
.name_para_11{
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius:0px 0px 0px 0px;

    width: 146px;
    height: 98px;
    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;
}
.name_para_12{
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius:0px 0px 0px 0px;

    width: 159px;
    height: 98px;
    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;
}
.name_para_13{
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    border-radius:0px 0px 0px 0px;

    width: 164px;
    height: 98px;
    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;
}
.name_para_14{
    /* Auto layout */
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius:0px 0px 0px 0px;

    width: 75px;
    height: 98px;
    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;
}
.name_para_15{
    /* Auto layout */
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius:0px 0px 0px 0px;
    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;
    width: 231px;
    height: 98px;
}
.name_para_16{
    /* Auto layout */

   justify-content: center;
   align-items: center;
   padding: 16px 24px;
   gap: 16px;
   border-radius:0px 0px 0px 0px;
   background: #23272E;
   /* Gray/Gray – Tertiary */

   border: 1px solid #34373D;

    width: 148px;
    height: 98px;
}
.name_para_17{
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius:0px 0px 0px 0px;
    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    width: 142px;
    height: 98px;
}
.name_para_18{
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius:0px 0px 0px 0px;
    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    width: 161.5px;
    height: 98px;
}
.name_para_19{
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius:0px 0px 0px 0px;
    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    width: 161.5px;
    height: 98px;

}
.name_para_20{
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius:0px 0px 0px 0px;
    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    width: 176px;
    height: 98px;
}
.name_para_21{
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius:0px 0px 0px 0px;
    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    width: 168px;
    height: 98px;
}
.name_para_22{
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius:0px 0px 0px 0px;
    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    width: 124px;
    height: 98px;

}
.name_para_23{
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius:0px 0px 0px 0px;
    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    width: 214px;
    height: 98px;
}
.name_para_24{
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius:0px 0px 0px 0px;
    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    width: 124px;
    height: 98px;
}
.product_type{
    /* Project Type */


    width: 98px;
    height: 18px;

    /* Body Text/Body Text – Regular */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;
    text-align: center;

    /* White/White – Secondary */

    color: #CED4DA;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.search_para_box{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px 8px 16px;
    gap: 8px;

    width: 98px;
    height: 32px;

    /* Gray/Gray – Secondary */

    border: 1px solid #6C757D;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.input_search_pt{
    /* Search projects... */


    width: 46px;
    height: 16px;

    /* Body Text/Small Text – Regular */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    background: #23272E;
    border:none
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;

    /* Gray/Gray – Secondary */

    color: #6C757D;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.unit{
    width: 27px;
    height: 18px;
    margin-bottom:50px;

    /* Body Text/Body Text – Regular */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    display: flex;
    align-items: center;

    /* White/White – Secondary */

    color: #CED4DA;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.para_22{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;

    width: 157px;
    height: 50px;

    /* Black/Black – Secondary

    Background 2
    */
    background: #1A1D23;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
.div_class_10{
    position:relative;
    width:100%;
    bottom:3px;
    right:0.2px;
    display:grid;
    grid-template-columns:2fr 2fr;
    grid-template-columns:repeat(10, 1fr);
}
.run_para_1{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;

    width: 64px;
    height: 50px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Black/Black – Tertiary */

    border: 1px solid #23272E;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.div_class_16{
    position:relative;
    width:100%;
    bottom:3px;
    right:0.2px;
    display:grid;
    grid-template-columns:2fr 2fr;
    grid-template-columns:repeat(16, 1fr);
}
.a1{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
    border-radius:0px 0px 0px 0px;

    width: 64px;
    height: 98px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.a2{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;

    width: 146px;
    height: 98px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.a3{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;

    width: 157px;
    height: 98px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.a4{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;

    width: 164px;
    height: 98px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.a5{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;

    width: 75px;
    height: 98px;

    /* Black/Black – Tertiary */

    background: #23272E;
    /* Gray/Gray – Tertiary */

    border: 1px solid #34373D;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}